# mac directory stuff
.DS_Store

# PyCharm stuff
.idea/

# data source
*.csv
output/

# compiled python scripts
*.pyc

.ipynb_checkpoints

# source R files
*.R
.Rhistory

# debug folder
debug/

# cython files
*.pyx

